@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;600&family=Secular+One&display=swap');

body{
    margin:0px;
    font-family:'Martian Mono', monospace;
}
/* 
-------
Top section
------- 
*/
.txt-orange {
    color:orangered;
}
.text-justify {
    text-align: justify;
}
.btn {
    background-color: orangered;
    border:none;
    padding:10px 20px;
    color:white;
    border-radius: 10px;
    font-size: 16px;
}
.top {
    background-image: url('../images/top-banner.png');
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: wrap;
    margin-bottom:80px;
}

.developer-description{
    padding:20px;
    box-sizing: border-box;
    flex-basis: 350px;
    flex-grow: 1;
}
.developer-img {
    box-sizing: border-box;
    flex-grow:1;
    flex-basis: 300px;
}
.developer-img img {
    width:100%;
}

/* 
-------
Middle section
------- 
*/
.middle {
    display:flex;
    flex-wrap: wrap;
    margin-bottom:80px;
}

#dream-big {
    background-image: url('../images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.developer-card-container {
    display:flex;
    flex-wrap: wrap;
    padding:40px 60px;
    justify-content: center;
    background-image: url('../images/exp-bg.png');
    background-repeat: no-repeat;
    background-position:left center;
    margin-bottom:100px;
}

.developer-card {
    box-sizing: border-box;
    padding:60px;
    box-shadow: 5px 5px 15px rgb(141, 137, 137);
    flex-basis:250px;
    flex-grow:1;
}
#pro-developer {
    border-left:10px solid orangered;
    margin-right:25px;
    padding:60px;
}

#baby-developer {
    border-left:10px solid rgb(47, 22, 192);
}
footer {
    text-align: center;
}